/* .navbar.is-spaced {
  padding: 2rem 3.6rem;
  background: powderblue;
} */

/*.navbar-item img {
  max-height: 2rem;
}
.navbar-item {
  font-size: 1.12em;
  padding: 0.5rem 1.75rem;
} */
.is-visible-dsktp{
  display: none;
}

/* MODAL */

/* HERO SECTION */
.hero-background {
  background: url(../img/taxi.jpg);
  background-position: bottom;
  background-size: cover;
}

.hero-body {
  padding: 10rem 0 0;
  justify-content: right;
}

.hero-box {
  background: #f7b617;
  color: white;
  box-shadow: none;
  border-radius: 0;
  line-height: 1;
  /* margin: 2.25rem; */
}

.hero-text {
  /* top | horizontal | bottom  */
  padding: 2rem 2rem 1rem;
}

.hero-button {
  margin: 2rem 2rem 1rem;
  color: black;
  font-weight: normal;
}

.hero-body-div {
  /* display: inline-block; */
  border-bottom: solid white;
}

.hero-body-div-txt {
  display: inline-block;
}

/* INFO SECTION */
.info-section {
  background: #f7b617;
  padding: 3em 1em 0em;
  /* padding: 3rem 0rem; */
}

.info-container {
  border: thin solid white;
  /* height: 90vw; */
  /* border-left: 0; */
  /* padding: 3em; */
}

.info-title {
  padding: 2em 0 0;
}

.title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.cel-img {
  /* padding: 0 3.2em; */
  text-align: center;
}

.info-text {
  padding: 2em 0 0.5em;
}
/* #txtInfo p {
  font-size: 1.4rem;
} */

/* CONDUCE SECTION */
.conduce-background {
  background: url(../img/conduce.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center right;
}

.columns-labcar:last-child{
  margin-bottom: 0rem;
}

.conduce-background-alpha {
  background: rgba(0, 0, 0, 0.5);
}

.conduce-content {
  padding: 5em 2em 9em;
}

.conduce-text {
  line-height: 1.2;
}

.conduce-button {
  margin: 1.2em 0;
  background: #f7b617;
  border-color: #f7b617;
}

/* TARIFAS SECTION */
.tarifa-section {
  background: #f7b617;
  padding: 1em;
}

.tarifa-text {
  padding: 0 0 1rem;
  margin: 0 0 1rem;
}

/* .tarifa-form {
  padding: 0 5rem 0 0;
} */

/* .tarifa-form-elements {
  margin: 1rem 0;
  align-items: center;
} */

.tarifa-input {
  border-color: white;
  background-color: transparent;
  color: white;
}

.tarifa-input::placeholder {
  color: white;
}

.input:focus {
  border-color: #2b2b2b;
  box-shadow: transparent;
}

/* .submit-container {
  text-align: center;
} */

.map-border {
  padding: 0.5em;
  margin: 4em 1em 0.5em;
  border: thin solid white;
  /* margin: 2em 2em; */
}

#map {
  /* position: absolute;
  top: 0;
  bottom: 0; */
  width: 100%;
  height: 60vw;
}

/* FOOTER */
.footer-labcar {
  padding: 1em;
  background: #2b2b2b;
  color: white;
}

.footer-logo {
  padding: 0em 0em 1em;
}

.footer-content {
  border-top: thin solid white;
  border-bottom: thin solid white;
  padding: 1em 0 0;
}

.footer-content-elements,
.footer-content-elements li {
  padding: 0 0 1.2em;
}

.footer-content-elements .icon {
  justify-content: left;
}

.footer-end {
  padding: 1.2em 0 0;
}

@media only screen and (min-width: 960px) {
  .is-visible-dsktp{
    display: block;
  }

  .is-visible-mobile{
    display: none;
  }

  /* HERO */
  .hero-text-dsktp div{
    padding: 0 0 1.2rem;
  }

  /* INFO */
  .info-section {
    padding: 3em 0em;
  }

  .info-container {
    border-left: none;
    padding: 2em;
  }

  /* TARIFAS */
  .tarifa-section {
    padding: 1em 6em;
  }

  .map-border {
    margin: 1em 1em 0.5em;
  }
  #map {
    height: 30vw;
  }

  /* FOOTER */
  .footer-labcar {
    padding: 3em 6em;
  }
  .col-footer-end{
    align-self: end;
  }

  .footer-img{
    width: 60%;
  }
}
