/* .navbar.is-spaced {
  padding: 2rem 3.6rem;
  background: powderblue;
} */

/*.navbar-item img {
  max-height: 2rem;
}
.navbar-item {
  font-size: 1.12em;
  padding: 0.5rem 1.75rem;
} */

.hero {
  background: url(../img/taxi.jpg);
  background-position: 0% 93%;
  background-size: cover;
}

.hero-body {
  padding: 0;
}

#boxHero {
  background: #f7b617;
  color: white;
  box-shadow: none;
  border-radius: 0;
  padding: 2.25rem;
}

#boxHero h2 {
  line-height: 1;
}

.button-hero {
  color: black;
  font-weight: normal;
}

.hero-body-div {
  /* display: inline-block; */
  border-bottom: solid white;
}

.hero-body-div-txt {
  display: inline-block;
}

#informacion {
  background: #f7b617;
  padding: 3em 1.5em 3em 0;
  /* padding: 3rem 0rem; */
}
#cel-img {
  padding: 0 5em;
}

#infoContainer {
  border: thin solid white;
  border-left: 0;
  padding: 3em;
}

#txtInfo {
  padding: 0 5em 0 1em;
}
/* #txtInfo p {
  font-size: 1.4rem;
} */
