/* .navbar.is-spaced {
  padding: 2rem 3.6rem;
  background: powderblue;
} */

/*.navbar-item img {
  max-height: 2rem;
}
.navbar-item {
  font-size: 1.12em;
  padding: 0.5rem 1.75rem;
} */
/* HERO SECTION */
.hero-background {
  background: url(../img/taxi.jpg);
  background-position: bottom;
  background-size: cover;
}

.hero-body {
  padding: 10rem 0 0;
}

.hero-box {
  background: #f7b617;
  color: white;
  box-shadow: none;
  border-radius: 0;
  line-height: 1;
  /* margin: 2.25rem; */
}

.hero-text {
  /* top | horizontal | bottom  */
  padding: 2rem 2rem 1rem;
}

.hero-button {
  margin: 2rem 2rem 1rem;
  color: black;
  font-weight: normal;
}

.hero-body-div {
  /* display: inline-block; */
  border-bottom: solid white;
}

.hero-body-div-txt {
  display: inline-block;
}

/* INFO SECTION */
.info-section {
  background: #f7b617;
  padding: 3em 1em 0em;
  /* padding: 3rem 0rem; */
}

.info-container {
  border: thin solid white;
  height: 90vw;
  /* border-left: 0; */
  /* padding: 3em; */
}

.info-title {
  padding: 2em 0 0;
}
.cel-img {
  padding: 0 3.5em;
}

.info-text {
  padding: 2em 0 0.5em;
}
/* #txtInfo p {
  font-size: 1.4rem;
} */
